ul {
  list-style: none;
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
}

a {
  text-decoration: none;
  margin-top: 152px;
  width: 76px;
  height: 16px;
  color: #3D58A6;
  font-size: 20px;
  text-align: left;
}

.active {
  color: #EE4036;
}

div{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 200px;
}
svg{ 
  margin-left: 30px;
  margin-top: 30px;
  width: 101px;
  height: 31px;
  opacity: 1;
}
section{
  text-align: center; 
}

p {
  color: #3D58A6;
  font-size: 20px;
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
  margin-bottom: 0px;
}

address .address {
  font-size: 16px;
}

span {
  color: grey;
  font-style: normal;
}

#ops {
  color: black;
  font-style: normal;
  font-family: "BPG Ingiri Arial", sans-serif;
}

footer {
  text-align: left;
  margin-left: -60px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-left: 30px;
}
.photo {
  display: inline-block;
  padding-left: 30.2px;
  float: left;
}
#youtube {
  border-left: 2px solid #363E97;
  width: 26px;
  height: 31px;
  opacity: 1;
}

#fb {
  margin-right: 30px;
  margin-left:30px;
  width: 15px;
  height: 31px;
  opacity: 1;
}